.page-default {
    display: flex;
    padding: 0;
    height: 100%;
}
.page-default > * {
    flex-grow: 1;
    width: 28px;
    transition: all .35s;
}
.page-default > * > :not(.section-toggle) {
    transition-property: opacity, visibility;
    transition-duration: .35s;
}
.page-default > .section-collapsed {
    flex-grow: 0;
}
.page-default > .section-collapsed > :not(.section-toggle) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.page-default > .input-data,
.page-default > .output-data {
    position: relative;
    background: #fafafa;
}
.page-default > .input-data .view-struct,
.page-default > .output-data .view-struct {
    overflow: visible;
}

.page-default .section-toggle {
    position: absolute;
    z-index: 100;
    top: 4px;
    right: 25px;
    background: rgba(0, 0, 0, .5);
    color: white;
    padding: 2px 10px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform-origin: calc(100% + 11px) 50%;
    transition: transform .25s ease-in-out;
    cursor: pointer;
}
.page-default .section-collapsed .section-toggle {
    transform: rotate(-90deg);
}
.page-default .section-toggle::after {
    content: '';
    position: absolute;
    top: 0;
    right: -21px;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M 3.71875 7.78125 L 2.28125 9.21875 L 11.28125 18.21875 L 12 18.90625 L 12.71875 18.21875 L 21.71875 9.21875 L 20.28125 7.78125 L 12 16.0625 Z '/%3E%3C/svg%3E%0A") no-repeat center;
    background-color: rgba(0, 0, 0, .5);
    background-size: 12px;
    transition: transform .3s ease-out;
}
.page-default .section-toggle:hover,
.page-default .section-toggle:hover::after {
    background-color: rgba(0, 0, 0, .65);
}
.page-default .input-data > .section-toggle::after {
    transform: rotate(90deg);
}
.page-default .output-data > .section-toggle::after {
    transform: rotate(-90deg);
}
.page-default .input-data.section-collapsed > .section-toggle::after {
    transform: rotate(0deg);
}
.page-default .output-data.section-collapsed > .section-toggle::after {
    transform: rotate(-180deg);
}

.page-default > .input-data.dragover::after {
    content: 'Drop file';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
    padding-top: 100px;
    text-align: center;
}

.page-default > .input-data,
.page-default > .output-data {
    display: flex;
    flex-direction: column;
}
.page-default > .input-data > .input-data-struct,
.page-default > .output-data > .output-data-struct {
    flex: 1;
    overflow: auto;
}
.page-default > .input-data > .input-data-actions {
    white-space: nowrap;
    padding: 4px;
    font-size: 12px;
}
.page-default > .input-data > .input-data-actions .view-button {
    padding: 3px 8px 4px;
    margin: 0 2px;
    overflow: hidden;
}
.page-default > .input-data > .input-data-actions input {
    position: absolute;
    z-index: 2;
    top: -2px;
    left: -150px;
    height: 100px;
    width: 400px;
    opacity: 0;
    cursor: pointer;
}

.query-editor {
    display: flex;
    flex-direction: column;
}
.query-editor-error {
    opacity: 0;
    transition: opacity .25s;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background: rgba(200, 0, 0, .8);
    padding: 10px;
    font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
    font-size: 12px;
}
.query-editor-error.visible {
    opacity: 1;
    visibility: visible;
}

.discovery-editor {
    position: relative;
    flex: 1;
    z-index: 1;
}
.discovery-editor .CodeMirror {
    margin: 0;
    border-radius: 0;
    border-width: 0 1px;
    box-shadow: none;
    height: 100%;
    box-sizing: border-box;
}
.discovery-editor .CodeMirror-focused {
    box-shadow: 0 0 1px 3px rgba(0, 170, 255, .2) !important;
}
.discovery-editor .CodeMirror-scroll {
    height: calc(100% - 18px);
}

@media (max-width: 850px) {
    .page-default {
        flex-direction: column;
    }
    .page-default > * {
        width: auto;
        height: 28px;
    }
    .page-default .section-collapsed .section-toggle {
        transform: none;
    }
    .page-default .input-data > .section-toggle::after {
        transform: rotate(180deg);
    }
    .page-default .output-data > .section-toggle::after {
        transform: none;
    }
    .page-default .input-data.section-collapsed > .section-toggle::after {
        transform: rotate(0deg);
    }
    .page-default .output-data.section-collapsed > .section-toggle::after {
        transform: rotate(-180deg);
    }
    .discovery-editor .CodeMirror {
        border-width: 1px 0;
    }
}
